<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <connectionStrings>
    <add name="conDBUmbrella" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.10.45;Initial Catalog=DB_Umbrella_Pruebas;User ID=sa;Password=sapsrvbbdd0192837465.;"/>
    <add name="conDBItalimentos" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.10.45;Initial Catalog=PRUEBASJUL2019;User ID=sa;Password=sapsrvbbdd0192837465.;"/>
  </connectionStrings>
  <appSettings>
    <add key="IPServidorSAP" value="192.168.10.45"/>
    <add key="ServidorLicencia" value="192.168.10.44"/>
    <add key="BDSap" value="PRUEBASJUL2019"/>
    <add key="UsuarioBDSap" value="sa"/>
    <add key="PassBDSap" value="sapsrvbbdd0192837465."/>
    <add key="UsuarioSociedadSap" value="manager"/>
    <add key="PassSociedadSap" value="ita775511."/>
    <!--Variable utilizada para determinar la impresora de las etiquetas-->
    <add key="ImpresoraEtiqueta" value="ZDesigner ZT230-200dpi ZPL"/>
    <add key="ImpresoraEtiquetaCaja" value="ZDesigner ZT230-200dpi ZPL"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>
